Report.docx
git_commit_log.png
html_output.png
html_source_code.png
program_output.png
Design-Sell/Report.docx
Design-Sell/sourceCode.zip
Design-Sell/homeOutput.png
Design-Sell/aboutUsOutput.png
Design-Sell/contactUsOutput.png
Design-Sell/fileStructure.png
Team-Budget-Planner/Report.docx
Team-Budget-Planner/sourceCode.zip
Team-Budget-Planner/homepage_output.png
Team-Budget-Planner/programManagers_output_HTML.png
Team-Budget-Planner/financeTeams_output_HTML.png
Team-Budget-Planner/dataStorage_output.png
Simply-Blogging/Report.docx
Simply-Blogging/sourceCode.zip
Simply-Blogging/index-output.png
Simply-Blogging/addNewBlog-output.png
Simply-Blogging/viewBlogs-output.png
Simply-Blogging/aboutUs-output.png
Simply-Blogging/contactUs-output.png
Cart-Management/Report.docx
Cart-Management/sourceCode.zip
Cart-Management/index-output.png
Cart-Management/viewShop-output.png
Cart-Management/viewShop-output2.png
Cart-Management/checkout-output.png
Angular-App/