/*
Darren Dixon
Team Budget Planning
March 15th, 2021 
styling for Finance Teams page!
*/
#budgetTableContainer{
    border: 3px solid black;
    border-radius: 5px;
    margin:10px 40% 0px;
    text-align:center;
    padding:5px 60px 5px;
}

#budgetTable{
    border: 2px solid green;
    background-color:yellow;
    margin: 0px auto 0px;
}

tr{
    background-color:brown;
    color:white;
    border: 1px solid black;
}

td{
    border: 1px solid black;
}

#budgetTableHeader{
    background-color:black;
    color:white;
}