<div>
  <h1>Welcome to my Website!</h1>
  <div style="padding:1px 5px;">
    <a routerLink="home">Dashboard</a>
    | <a routerLink="signup">Sign Up</a>
    | <a routerLink="login">Login</a>
    | <a routerLink="aboutme">About Me</a>
    <span *ngIf=authService.isActive()>
      | <a routerLink="myportfolio" id="myPortfolioLink">My Portfolio</a>
      &nbsp;<button type="submit" (click)="logout()" class="btn btn-primary">Logout</button>
    </span>
  </div>
  <hr/>
  <router-outlet>

  </router-outlet>
</div>