<!--
Darren Dixon
Online Test
March 29th, 2021 
Main App Component
-->
<div style="text-align:center;">
  <h1>Welcome to my Exam Repository!</h1>
    <div class="container">
      <ul class="nav nav-pills" style="padding:2px;">
        <li class="nav-item" style="margin:0px 2px;">
          <a class="nav-link active" routerLink="home">Dashboard</a>
        </li>
        <li class="nav-item" style="margin:0px 2px;">
          <a class="nav-link active" routerLink="exam-page">Take The Exam!</a>
        </li>

      </ul>
    </div>
  <hr/>
  <router-outlet>

  </router-outlet>
</div>